@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ball:hover .user {
  display: block;
}

.ball .user {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background: rgb(43, 59, 85);
}

.ball .user::after {
  content: "";
  width: 30px;
  height: 0px;
  border-top: 10px solid rgb(43, 59, 85);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
